    {% load staticfiles %}
    <link href="{% static 'uiapp/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/sbadmin2/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/metisMenu/metisMenu.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'uiapp/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
    <!-- Gritter -->
    <link href="{% static 'uiapp/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">
    <!-- Data Tables -->
    <link href="{% static 'uiapp/css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">
    <!-- Animate -->
    <link href="{% static 'uiapp/css/animate.css' %}" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <!--mine-->
    <link href="{% static 'uiapp/css/own.style.css' %}" rel="stylesheet">