{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ATLAS-P | Query List</title>

    {% include "uiapp/core-styles.html" %}
    <link href="{% static 'uiapp/externals/jsplumb/css/jsplumb.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'uiapp/externals/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/nouslider/jquery.nouislider.min.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/ionRangeSlider/css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'uiapp/externals/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/externals/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">


    <link href="{% static 'uiapp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'uiapp/css/own.style.css' %}" rel="stylesheet">
</head>

<body class="mini-navbar">
<div id="wrapper">
    {% include "uiapp/left-side-menu.html" %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">

                    <li class="dropdown">
                        <a class="m-r-sm dropdown-toggle count-info" data-toggle="dropdow2n" href="#">
                            <i class="fa fa-envelope"></i>  <span class="label label-warning"></span> Messages
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46h ago</small>
                                        <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5h ago</small>
                                        <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/profile.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">23h ago</small>
                                        <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>

        </div>
        <div class="row  border-bottom white-bg dashboard-header">
            <h3><span class="fa fa-file-o"></span> <strong>Saved Query Lists</strong></h3>


            <table id="tbl-saved-queries" cellspacing="0" width="100%" class="display table table-striped">
                <thead>
                <tr>

                    <th></th>
                    <th>Query Name </th>
                    <th>Created </th>
                    <th>Updated</th>
                    <th>Owner</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="{% static 'uiapp/js/constants.js' %}"></script>
<script src="{% static 'uiapp/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'uiapp/externals/jquery/jquery-ui-1.9.2.min.js' %}"></script>
<script src="{% static 'uiapp/externals/jquery/jquery.ui.touch-punch-0.2.2.min.js' %}"></script>
<script src="{% static 'uiapp/externals/jquery/jquery.base64.min.js' %}"></script>
<script src="{% static 'uiapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'uiapp/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'uiapp/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'uiapp/js/String.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'uiapp/js/plugins/toastr/toastr.min.js' %}"></script>

<!-- Data Tables -->
<script src="{% static 'uiapp/externals/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'uiapp/externals/dataTables/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'uiapp/externals/dataTables/dataTables.responsive.js' %}"></script>
<script src="{% static 'uiapp/externals/dataTables/dataTables.tableTools.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'uiapp/js/inspinia.js' %}"></script>
<script src="{% static 'uiapp/js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'uiapp/js/saved-queries/application.js' %}"></script>
<!-- Page-Level Scripts -->
<script>

</script>

</body>
</html>
